/cmake_install.cmake
/DensestSubgraph
/Makefile
/cmake-build-debug/
/.idea
test.cpp
/data
**/Makefile
**/cmake_install.cmake
**/CMakeFiles/
*.py
*.so
/build
/.vscode
/.cmake
/mem
/Testing
/CMakeCache.txt
/debug
/DensestSubgraph.cbp
/ds.txt
/test.txt
/debug.txt
/nohup.out
